*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
}
nav{
	background-color: #FFEECC;
	display: flex;
  justify-content: space-around;
  padding: 0.25em;
}

aside{
	padding: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
aside > a {
	border: 1px solid black;
}

a {
  padding: 0.5em;
  background-color: lightblue;
  border-radius: 0.25em;
}

p {
  background-color: #CECECE;
  border-radius: 1em;
  padding: 1em;
  margin: 0;
}
p + p {
  margin-top: 1em;
}

footer{
  background-color: #FFEECC;
  padding: 1em;
}

@media (min-width: 576px) {
  body{     
    display: grid; 
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "top top"
      "navigation navigation"
      "left right"
      "bottom bottom";
  }

  header{
    grid-area: top;
  }
  nav {
    grid-area: navigation;
  }
	aside{
    grid-area: left;
		flex-direction: column;
  }
  main {
    grid-area: right;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1em;
  }

  p + p {
    margin: 0;
  }

  footer{
    grid-area: bottom;
  }
} 
